body{
        font-family:Arial;
        background-color: #848484;   
}

html.noscroll 
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}



#content{
    
}

#container1{
        margin: 0 auto;
        width:1400px;
        min-height:800px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        overflow:hidden;
        
}
#header{
        height: 70px;
        background-color: #242424;
}

#navContainer{
        height:85px;
        background-image:url('../images/navBG.jpg');
        border-bottom: 5px solid rgb(224,237,246);
}


#nav{
        position: relative;
        width:700px;
        height:40px;
        top:3px;
        font-size:12pt;
        margin: 0 auto;
        
}

#nav td{
        width: 140px;
        text-align:center;
        padding:0px;
      
        
}

#body{
        background: #e0edf6; /* Old browsers */
        background: -moz-linear-gradient(top,  #e0edf6 0%, #f3f7f7 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0edf6), color-stop(100%,#f3f7f7)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e0edf6 0%,#f3f7f7 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e0edf6 0%,#f3f7f7 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e0edf6 0%,#f3f7f7 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e0edf6 0%,#f3f7f7 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0edf6', endColorstr='#f3f7f7',GradientType=0 ); /* IE6-9 */
        min-height:700px;
}

#footer1{

}

#footer2{
        font-size:10pt;
        text-align:center;
        height:50px;
        width:100%;
        background-color:#1f1f1f;
        border-top:10px solid #1a1a1a;
        color:#c6c6c6;
}

#logo{
        position: relative;
        top:3px;
        left:120px;
}

#logo2{
	position: relative;
	top:-15px;
	left:880px;
}

.navLink
{
        font-size: 12pt;
        cursor:pointer;
        border: 1px;
        line-height:40px;
        margin: 0 auto;
        height:40px;
        padding:1px;
        width:120px;
        font-family:Arial;
        color:#bbddec;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: rgba(1,1,1,0);
}

.navLink:hover
{
        color:rgb(239,244,248);
        text-shadow: 0px 2px 15px rgba(255,255,255,0.6);
}

#toggleContainer{
				position:relative;
				top:-400px;
                                margin-bottom: -400px;
				float:left;
				height:600px;
				width:40px;
			}
			
			#toggle1{
				cursor:pointer;
				position:relative;
				width:700px;
				height:600px;
				left:-660px;
				z-index:2;
			}
			
			#toggle2{
				cursor:pointer;
				position:relative;
				width:700px;
				height:600px;
				top:-600px;
				left:-660px;
				z-index:3;
			}
			
			#toggle3{
				cursor:pointer;
				position:relative;
				width:700px;
				height:600px;
				top:-1200px;
				left:-660px;
				z-index:4;
			}
			
			#tog1{
				pointer:cursor;
			}
			
			#toggleTable{
				z-index:10;
				position:relative;
				left:-5px;
			}
			
			#toggleTable2{
				position:relative;
				right:0px;
				top:-406px;
				left:612px;
				z-index:1000;
			}
*{
    font-family: Arial;
}


.snaptarget{
    float: left;
}

.drag { 
        position: absolute;
        width: 230px; height: 230px; background: red; 
        box-shadow: 4px 4px 2px grey;
}

.draggable{
            position: absolute;
            top: 60px;
            left: 15px;
            width:200px;
            height:200px;
            background-image:url('../images/yellowstickynote.png');
            /*background-color:gold; */
            text-align:center;
            /*box-shadow: 3px 3px 5px #888888;*/
            border:0px;
        }
.snapHere{
        width:200px;
        height:200px;
        background-color: rgba(100,100,100,0.1);
       
}
.ta{
        font-family:Arial;
        background-color: transparent;
        border: 0;
        resize:none;
}

.content{
        text-align:left; 
        width:180px; 
        height:150px; 
        padding:10px; 
        font-family:Arial;
}

#DragContainer{
    position: relative;
}

#addTask
{
    position:absolute;
    left:200px;
    top: 20px;
}

#addRow
{
    position:absolute;
    left:200px;
    top: 80px;
}

#addDay
{
    position:absolute;
    left:200px;
    top: 140px;
}

#finishSprint
{
    position:absolute;
    left:200px;
    top: 200px;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.65;
    opacity:.65;
    filter: alpha(opacity=65);
    /*overflow: hidden;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
 
.white_content {
    display: none;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    max-width: 1000px;
    min-height: 30px;
    padding: 16px;
    border: 5px solid grey;
    background-color: white;
    z-index:1002;
    /*overflow: auto;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px grey;
    background: rgb(249,247,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,247,255,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,247,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.white_content2 {
    display: none;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 40%;
    max-width: 1000px;
    min-height: 30px;
    padding: 16px;
    border: 5px solid grey;
    background-color: white;
    z-index:1002;
    /*overflow: auto;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px grey;
    background: rgb(249,247,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,247,255,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,247,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#closeLightBox{
    float:right;
    border:3px solid white;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    width:30px;
    height: 30px;
    color:white;
    background-color:#414042;
    box-shadow: 4px 4px 2px grey;
    text-align: center;
    font-size: 16pt;
    line-height: 30px;
    position: relative;
    top:-30px;
    left:30px;
    cursor: pointer;
    z-index: 10000;
}

.stopwatch{
   /**/
   width:40px;
   height: 40px;
   text-align: center;
   background-image:url('../images/stopwatch.png');
   background-repeat: no-repeat;
}

.poker{
   width:40px;
   height: 40px;
   text-align: center;
   background-image:url('../images/poker.png');
   background-repeat: no-repeat;
}

button{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 2px 5px;
	background: -moz-linear-gradient(
		top,
		#d4d4d4 0%,
		#5e5e5e);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d4d4d4),
		to(#5e5e5e));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #8a8a8a;
	-moz-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
        cursor:pointer;
}

button:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 2px 5px;
	background: -moz-linear-gradient(
		top,
		#bcc2bc 0%,
		#606160);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#bcc2bc),
		to(#606160));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #8a8a8a;
	-moz-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.colorActive{
    border:solid;
}

#accordionContainer{
    padding-top:50px;
    width:1300px;
    margin:0 auto;
    
}

#accordionContainerSprint{
    padding-top:50px;
    width:1300px;
    margin:0 auto;
    
}

.backlogTable {
	margin:0px;padding:0px;
	width:100%;
}.backlogTable table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.backlogTable tr:hover td{
	background-color:rgb(232,237,255);
}
.backlogTable tr:first-child td
{
	background-color: rgb(208,218,253);
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 0px 0px;
	font-size:18px;
	font-weight:bold;
	color:rgb(54,89,181);
}
.backlogTable tr:first-child:hover td
{
	background-color: rgb(208,218,253);
}
.backlogTable tr:first-child td:first-child
{
	border-width:0px 0px 0px 0px;
}
.backlogTable tr:first-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.backlogTable td{
	background-color: rgb(254,255,251);
	border-width:0px 1px 1px 0px;
	text-align: center;
	padding:7px;
	font-size:12pt;
	
	color:rgb(148,148,200);
}.backlogTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.backlogTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.backlogTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.tblButton{
    width:100%;
    margin:5px;
    font-size: 12pt;
    height:26px;
    min-width: 75px;
}

#onBottom{
    z-index:100000;
    position: fixed;
    bottom: 0;
}

#videoOptions
{ 
    font-family: Comic Sans, Comic Sans MS, Arial;
    width: 1400px;
    height: 40px;
    background: rgb(94,94,94); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    line-height: 40px;
    
    box-shadow: 0 -3px 3px -2px rgb(187,187,187);
}

#videoWindow{
    margin-left:567px;
    width:800px;
    height:420px;
    
    -webkit-border-top-left-radius: 15px;
    -moz-border-top-left-radius: 15px;
     border-top-left-radius: 15px;
     
     -webkit-border-top-right-radius: 15px;
    -moz-border-top-right-radius: 15px;
     border-top-right-radius: 15px;
     
     overflow: hidden;
    
    border-left:3px solid rgb(88,88,88);
    border-top:3px solid rgb(88,88,88);
    border-right:3px solid rgb(88,88,88);
    
    
     
    text-align: center;
    
  background-color: rgb(90,90,90);
}

#videoWindowtop{
    border-bottom:2px solid darkslateblue;
     background: rgb(94,94,94); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

#chatNowBtn
{
    margin-left: 1120px;
    color:white;
    font-size: 14pt;
    width:250px;
    text-align: center;
    border-left:2px solid rgb(107,107,107);
    border-right:2px solid rgb(107,107,107);
    cursor:pointer;
}

#videoLoad{
    /*text-align: center;*/
}

video{
    margin:5px;
    width:100px;
    border: 5px solid rgb(171,171,171);
}

#chatTable{
    border-collapse: collapse;
}

#textChat{
    width:246px;
    height: 100%;
}

#textChatHeader{
    /*width:90%;*/
    border: 1px solid white;
    padding:5px;
    text-align: center;
    font-size: 11pt;
    margin: 0 auto;
    border-radius: 5px;
    background: rgb(236,236,236); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(200,215,220,1) 100%, rgba(242,245,246,1) 100%, rgba(223,223,223,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(100%,rgba(200,215,220,1)), color-stop(100%,rgba(242,245,246,1)), color-stop(100%,rgba(223,223,223,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(200,215,220,1) 100%,rgba(242,245,246,1) 100%,rgba(223,223,223,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(200,215,220,1) 100%,rgba(242,245,246,1) 100%,rgba(223,223,223,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(200,215,220,1) 100%,rgba(242,245,246,1) 100%,rgba(223,223,223,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(200,215,220,1) 100%,rgba(242,245,246,1) 100%,rgba(223,223,223,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dfdfdf',GradientType=0 );
    margin-top: 15px;
}

#textChatSection{
    width: 90%;
    /*height:215px;*/
    
    margin:0 auto;
    overflow: auto;
    margin-top:10px;
    
}

#textChatInputSection{
    width: 90%;
    /*height:70px;*/
    border: 1px solid white;
    margin:0 auto;
    overflow: auto;
    margin-top:10px;
    border-radius: 5px;
    padding:5px;
    padding-top:10px;
    background: rgb(236,236,236); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(200,215,220,1) 100%, rgba(242,245,246,1) 100%, rgba(223,223,223,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(100%,rgba(200,215,220,1)), color-stop(100%,rgba(242,245,246,1)), color-stop(100%,rgba(223,223,223,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(200,215,220,1) 100%,rgba(242,245,246,1) 100%,rgba(223,223,223,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(200,215,220,1) 100%,rgba(242,245,246,1) 100%,rgba(223,223,223,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(200,215,220,1) 100%,rgba(242,245,246,1) 100%,rgba(223,223,223,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(200,215,220,1) 100%,rgba(242,245,246,1) 100%,rgba(223,223,223,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#dfdfdf',GradientType=0 );
}

.chatMsg{
    margin:3px;
    padding:5px;
    border-radius: 5px;
    background: rgb(225,225,225); /* Old browsers */
background: -moz-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(231,231,231,1) 48%, rgba(213,213,213,1) 50%, rgba(213,213,231,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,225,225,1)), color-stop(48%,rgba(231,231,231,1)), color-stop(50%,rgba(213,213,213,1)), color-stop(100%,rgba(213,213,231,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(231,231,231,1) 48%,rgba(213,213,213,1) 50%,rgba(213,213,231,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(231,231,231,1) 48%,rgba(213,213,213,1) 50%,rgba(213,213,231,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(225,225,225,1) 0%,rgba(231,231,231,1) 48%,rgba(213,213,213,1) 50%,rgba(213,213,231,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(225,225,225,1) 0%,rgba(231,231,231,1) 48%,rgba(213,213,213,1) 50%,rgba(213,213,231,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#d5d5e7',GradientType=0 );
}

.chatMsgUser{
    vertical-align: top;
    padding: 2px;
    max-width:40px;
    overflow:hidden;
    color:rgb(131,131,131);
    font-size: 8pt;
}

.chatMsgContent{
    padding: 4px;
    text-align: left;
    width:200px;
    color:black;
    font-size: 12pt;
}

.chatMsgTime{
    
    vertical-align: bottom;
    padding: 2px;
    width:40px;
    color:rgb(131,131,131);
    font-size: 9pt;
}

#cardHolder{
    
}



.cardContainer{
        width:80px;
        float:left;
        text-align:center;
        margin:2px;
}

.cardUser{
        font-size:10pt;
        font-family: Comic Sans, Comic Sans MS, Arial;
        font-weight: bold;
        font-style:italic;
}

.planningPokerCard :hover{
        border:1px solid rgb(209,228,152);
        background: rgb(222,229,197); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(222,229,197,1) 0%, rgba(186,209,112,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(222,229,197,1)), color-stop(100%,rgba(186,209,112,1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(222,229,197,1) 0%,rgba(186,209,112,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  rgba(222,229,197,1) 0%,rgba(186,209,112,1) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  rgba(222,229,197,1) 0%,rgba(186,209,112,1) 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  rgba(222,229,197,1) 0%,rgba(186,209,112,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee5c5', endColorstr='#bad170',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.planningPokerCard
{
        padding:7px;
        height:100px;
        width:60px;
        background-color: rgb(237,244,215);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;				
        -webkit-box-shadow: 1px 2px 8px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    1px 2px 8px rgba(50, 50, 50, 0.75);
        box-shadow:         1px 2px 8px rgba(50, 50, 50, 0.75);
        border:1px solid rgb(143,185,99);
        float: left;
        margin:3px;
        cursor:pointer;
}

.planningPokerInner
{
        font-family: Comic Sans, Comic Sans MS, Arial;
        height:98px;
        line-height:98px;			
        width:58px;
        border:1px solid rgb(143,185,99);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background-color:white;
        text-align:center;
        font-size:21pt;
        font-weight:bold;
        color: white;
        text-shadow:1px 2px 6px black;
        background: #dfecb7; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #dfecb7 0%, #b0d24f 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#dfecb7), color-stop(100%,#b0d24f)); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  #dfecb7 0%,#b0d24f 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  #dfecb7 0%,#b0d24f 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  #dfecb7 0%,#b0d24f 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  #dfecb7 0%,#b0d24f 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfecb7', endColorstr='#b0d24f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.unrevealedCard
{
        padding:7px;
        height:100px;
        width:60px;
        background-color: #f5f5f5;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;				
        -webkit-box-shadow: 1px 2px 8px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    1px 2px 8px rgba(50, 50, 50, 0.75);
        box-shadow:         1px 2px 8px rgba(50, 50, 50, 0.75);
        border:1px solid #b4b6b2;
        float: left;
        margin:3px;
        cursor:pointer;
}

.unrevealedCardInner
{
        font-family: Comic Sans, Comic Sans MS, Arial;
        height:98px;
        line-height:98px;			
        width:58px;
        border:1px solid #b4b6b2;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background-color:white;
        text-align:center;
        font-size:21pt;
        font-weight:bold;
        color: white;
        text-shadow:1px 2px 6px black;
        background: rgb(230,231,227); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(230,231,227,1) 0%, rgba(213,215,207,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(230,231,227,1)), color-stop(100%,rgba(213,215,207,1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(230,231,227,1) 0%,rgba(213,215,207,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  rgba(230,231,227,1) 0%,rgba(213,215,207,1) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  rgba(230,231,227,1) 0%,rgba(213,215,207,1) 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  rgba(230,231,227,1) 0%,rgba(213,215,207,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e7e3', endColorstr='#d5d7cf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



.myChosenCard
{
        padding:7px;
        height:100px;
        width:60px;
        background-color: #f4f0d7;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;				
        -webkit-box-shadow: 1px 2px 8px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    1px 2px 8px rgba(50, 50, 50, 0.75);
        box-shadow:         1px 2px 8px rgba(50, 50, 50, 0.75);
        border:1px solid #bbb228;
        float: left;
        margin:2px;
        cursor:pointer;
}

.myChosenCardInner
{
        font-family: Comic Sans, Comic Sans MS, Arial;
        height:98px;
        line-height:98px;			
        width:58px;
        border:1px solid #bbb228;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background-color:white;
        text-align:center;
        font-size:22pt;
        font-weight:bold;
        color: white;
        text-shadow:1px 2px 6px black;
        background: rgb(228,227,166); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(228,227,166,1) 0%, rgba(220,213,97,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(228,227,166,1)), color-stop(100%,rgba(220,213,97,1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(228,227,166,1) 0%,rgba(220,213,97,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  rgba(228,227,166,1) 0%,rgba(220,213,97,1) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  rgba(228,227,166,1) 0%,rgba(220,213,97,1) 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  rgba(228,227,166,1) 0%,rgba(220,213,97,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e3a6', endColorstr='#dcd561',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}	

.flip {
        height: 150px;
        width: 80px;  
        backface-visibility:             hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
        -o-backface-visibility:      hidden;
        -webkit-backface-visibility: hidden;

    transform-origin:             50% 50% 0px;
        -moz-transform-origin:    50% 50% 0px;
        -ms-transform-origin:     50% 50% 0px;
        -o-transform-origin:      50% 50% 0px;
        -webkit-transform-origin: 50% 50% 0px;
    transition: all 1s;
        -moz-transition:    all 1s;
        -ms-transition:     all 1s;
        -o-transition:      all 1s;
        -webkit-transition: all 1s;
        /*position: absolute;*/
}

#side-1 
{
    -webkit-transform: rotateY( 0deg );
    transform: rotateY( 0deg );
}

#side-2 
{
        position:relative;
        top:-150px;
        margin-bottom: -150px;
    -webkit-transform: rotateY( 180deg );   
    transform: rotateY( 180deg );   
}

.flip-side-1 
{    
    -webkit-transform: rotateY( 0deg ) !important;
    transform: rotateY( 0deg ) !important;
}

.flip-side-2 
{
    -webkit-transform: rotateY( 180deg ) !important;
    transform: rotateY( 180deg ) !important;
}


.side-1 
{
    -webkit-transform: rotateY( 0deg );
    transform: rotateY( 0deg );
}

.side-2 
{
        position:relative;
        top:-150px;
        margin-bottom: -150px;
    -webkit-transform: rotateY( 180deg );   
    transform: rotateY( 180deg );   
}

#cardTableR1{
        vertical-align:top;
}

#planningPokerContent{
    width:1000px;
    margin:0 auto;
    padding-top: 30px;
    
}

#planningPokerHeaderTable th{
    font-size: 14pt;
    padding:5px;
}

#planningPokerHeaderTable td{
    padding:5px;
}

.vr{
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#taskToPlanDescription{
    margin: 0 auto;   
    width: 340px;
    margin-top: 5px;
}



.styled-select select {
   background: transparent;
   width: 368px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
   
   .styled-select {
    margin: 0 auto;   
    width: 340px;
    height: 34px;
    overflow: hidden;
    background: url(../images/new_arrow.jpg) no-repeat right #ddd;
    border: 1px solid #ccc;
   }
   
   .styled-select2 select {
   background: transparent;
   width: 108px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
   
   .styled-select2 {
    margin: 0 auto;   
    width: 80px;
    height: 34px;
    overflow: hidden;
    background: url(../images/new_arrow.jpg) no-repeat right #ddd;
    border: 1px solid #ccc;
   }
   
   .styled-select3 select {
   background: transparent;
   width: 188px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
   
   .styled-select3 {
    margin: 0 auto;   
    width: 160px;
    height: 34px;
    overflow: hidden;
    background: url(../images/new_arrow.jpg) no-repeat right #ddd;
    border: 1px solid #ccc;
   }
   
   .plannedAlreadyInner{
       width:99%;
       height:34px;
       border:1px solid #ccc;
       background-color:#ddd;
   }
   
   .planningPokerBtn{
       width:80px;
   }