

body{
        font-family:Arial;
        background-color: #848484;
        
        
}

#container1{
        margin: 0 auto;
        width:1400px;
        min-height:800px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        overflow:hidden;
        
}
#header{
        height: 70px;
        background-color: #242424;
}

#navContainer{
        height:85px;
        background-image:url('../images/navBG.jpg');
        border-bottom: 5px solid rgb(224,237,246);
}


#nav{
        position: relative;
        width:700px;
        height:40px;
        top:3px;
        font-size:12pt;
        margin: 0 auto;
        
}

#nav td{
        width: 140px;
        text-align:center;
        padding:0px;
      
        
}

#body{
        background: #e0edf6; /* Old browsers */
        background: -moz-linear-gradient(top,  #e0edf6 0%, #f3f7f7 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0edf6), color-stop(100%,#f3f7f7)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e0edf6 0%,#f3f7f7 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e0edf6 0%,#f3f7f7 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e0edf6 0%,#f3f7f7 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e0edf6 0%,#f3f7f7 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0edf6', endColorstr='#f3f7f7',GradientType=0 ); /* IE6-9 */
        min-height:700px;
}

#footer1{

}

#footer2{
        font-size:10pt;
        text-align:center;
        height:50px;
        width:100%;
        background-color:#1f1f1f;
        border-top:10px solid #1a1a1a;
        color:#c6c6c6;
}

#logo{
        position: relative;
        top:3px;
        left:120px;
}

#logo2{
	position: relative;
	top:-15px;
	left:880px;
}

.navLink
{
        font-size: 12pt;
        cursor:pointer;
        border: 1px;
        line-height:40px;
        margin: 0 auto;
        height:40px;
        padding:1px;
        width:120px;
        font-family:Arial;
        color:#bbddec;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color: rgba(1,1,1,0);
}

.navLink:hover
{
        color:rgb(239,244,248);
        text-shadow: 0px 2px 15px rgba(255,255,255,0.6);
}

#toggleContainer{
				position:relative;
				top:-400px;
				float:left;
				height:600px;
				width:40px;
			}
			
			#toggle1{
				cursor:pointer;
				position:relative;
				width:700px;
				height:600px;
				left:-660px;
				z-index:2;
			}
			
			#toggle2{
				cursor:pointer;
				position:relative;
				width:700px;
				height:600px;
				top:-600px;
				left:-660px;
				z-index:3;
			}
			
			#toggle3{
				cursor:pointer;
				position:relative;
				width:700px;
				height:600px;
				top:-1200px;
				left:-660px;
				z-index:4;
			}
			
			#tog1{
				pointer:cursor;
			}
			
			#toggleTable{
				z-index:10;
				position:relative;
				left:-5px;
			}
			
			#toggleTable2{
				position:relative;
				right:0px;
				top:-406px;
				left:612px;
				z-index:1000;
			}
*{
    font-family: Arial;
}


.snaptarget{
    float: left;
}

.drag { 
        position: absolute;
        width: 230px; height: 230px; background: red; 
        box-shadow: 4px 4px 2px grey;
}

.draggable{
            position: absolute;
            top: 60px;
            left: 15px;
            width:200px;
            height:200px;
            background-image:url('../images/yellowstickynote.png');
            /*background-color:gold; */
            text-align:center;
            /*box-shadow: 3px 3px 5px #888888;*/
            border:0px;
        }
.snapHere{
        width:200px;
        height:200px;
        background-color: rgba(100,100,100,0.1);
       
}
.ta{
        font-family:Arial;
        background-color: transparent;
        border: 0;
        resize:none;
}

.content{
        text-align:left; 
        width:180px; 
        height:150px; 
        padding:10px; 
        font-family:Arial;
}

#DragContainer{
    
    position: relative;
}

#addTask
{
    position:absolute;
    left:200px;
    top: 20px;
}

#addRow
{
    position:absolute;
    left:200px;
    top: 80px;
}

#addDay
{
    position:absolute;
    left:200px;
    top: 140px;
}

#finishSprint
{
    position:absolute;
    left:200px;
    top: 200px;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.65;
    opacity:.65;
    filter: alpha(opacity=65);
    /*overflow: hidden;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
 
.white_content {
    display: none;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    max-width: 1000px;
    min-height: 30px;
    padding: 16px;
    border: 5px solid grey;
    background-color: white;
    z-index:1002;
    /*overflow: auto;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px grey;
    background: rgb(249,247,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,247,255,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,247,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,247,255,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

#closeLightBox{
    float:right;
    border:3px solid white;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    width:30px;
    height: 30px;
    color:white;
    background-color:#414042;
    box-shadow: 4px 4px 2px grey;
    text-align: center;
    font-size: 16pt;
    line-height: 30px;
    position: relative;
    top:-30px;
    left:30px;
    cursor: pointer;
    z-index: 10000;
}

.stopwatch{
   /**/
   width:40px;
   height: 40px;
   text-align: center;
   background-image:url('../images/stopwatch.png');
   background-repeat: no-repeat;
}

.poker{
   width:40px;
   height: 40px;
   text-align: center;
   background-image:url('../images/poker.png');
   background-repeat: no-repeat;
}

button{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 2px 5px;
	background: -moz-linear-gradient(
		top,
		#d4d4d4 0%,
		#5e5e5e);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d4d4d4),
		to(#5e5e5e));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #8a8a8a;
	-moz-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
        cursor:pointer;
}

button:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 2px 5px;
	background: -moz-linear-gradient(
		top,
		#bcc2bc 0%,
		#606160);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#bcc2bc),
		to(#606160));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #8a8a8a;
	-moz-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(0,0,0,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.colorActive{
    border:solid;
}

#accordionContainer{
    padding-top:50px;
    width:1300px;
    margin:0 auto;
    
}

.backlogTable {
	margin:0px;padding:0px;
	width:100%;
}.backlogTable table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.backlogTable tr:hover td{
	background-color:rgb(232,237,255);
}
.backlogTable tr:first-child td
{
	background-color: rgb(208,218,253);
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 0px 0px;
	font-size:18px;
	font-weight:bold;
	color:rgb(54,89,181);
}
.backlogTable tr:first-child:hover td
{
	background-color: rgb(208,218,253);
}
.backlogTable tr:first-child td:first-child
{
	border-width:0px 0px 0px 0px;
}
.backlogTable tr:first-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.backlogTable td{
	background-color: rgb(254,255,251);
	border-width:0px 1px 1px 0px;
	text-align: center;
	padding:7px;
	font-size:12pt;
	
	color:rgb(148,148,200);
}.backlogTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.backlogTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.backlogTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.tblButton{
    width:100%;
    margin:5px;
    font-size: 12pt;
    height:26px;
    min-width: 75px;
}

#onBottom{
    position: fixed;
    bottom: 0;
}

#videoOptions
{ 
    width: 1400px;
    height: 60px;
    background: rgb(94,94,94); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(94,94,94,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(94,94,94,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    line-height: 60px;
}

#videoWindow{
    margin-left:597px;
    width:800px;
    height:500px;
    border-left:3px solid rgb(88,88,88);
    border-top:3px solid rgb(88,88,88);
    text-align: center;
    
    background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

#chatNowBtn
{
    margin-left: 1150px;
    color:white;
    font-size: 14pt;
    width:250px;
    text-align: center;
    border-left:2px solid rgb(107,107,107);
    cursor:pointer;
}

#videoLoad{
    text-align: center;
}

video{
    padding:5px;
    width:100px;
}

#chatTable{
    border-collapse: collapse;
}