*{
    font-family: Arial;
}

#main{
    width:1420px;
    margin: 0 auto;
}
#top {
    text-align: center;
    position: relative;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

.navigationItem{
   
    width: 150px;
    background-color: lightgrey;
    font-size: 14pt;
    box-shadow: 2px 2px 5px #888888;
    border: 0;
    padding: 5px;
   
}

.navigationItem:hover{
    background-color: #e8e8e8;
    cursor: pointer;
}

.clear {
    float:left;
    clear: both;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}




